.add-products__row {
    display: flex;
    flex-wrap: wrap;
}

.add-products__column {
    flex: 0 0 100%;
    max-width: 100%;
}

.add-products__title {
    position: relative;
    width: 246px;
    font-size: 24px;
    font-weight: normal;
    line-height: 1;
    color: #111111;
    padding-bottom: 30px;
    margin: 0;
    background-color: #ffffff;
}

.add-products__title::after,
.add-products__title::before {
    content: "";
    position: absolute;
    top: 23%;
    width: 95px;
    height: 3px;
    margin-top: 2px;
    background: #68b738;
    z-index: -1;
}

.add-products__action {
    background-image: url(../img/gift-photo-mobile@1x.jpg);
    background-repeat: no-repeat;
    width: 280px;
    min-height: 289px;
    margin-top: 39px;
}

.add-products__present {
    width: 159px;
    min-height: 56px;
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    padding-top: 190px;
    padding-left: 60px;
    margin: 0;
}

@media (min-width: 768px) {
    .add-products__title {
        width: 348px;
        font-size: 36px;
        padding-top: 0px;
        padding-bottom: 75px;
        margin-left: 28px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .add-products__title::after,
    .add-products__title::before {
        width: 768px;
        right: -300px;
        top: 20%;
    }

    .add-products__action {
        background-image: url(../img/gift-photo-tablet@1x.jpg);
        background-repeat: no-repeat;
        width: 708px;
        min-height: 200px;
        margin-bottom: 30px;
    }

    .add-products__present {
        padding-top: 75px;
        text-align: left;
    }
}

@media (min-width: 1300px) {
    .add-products__column--xl {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .add-products__column--xl-1 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .add-products__title {
        padding: 0 40px;
        margin-bottom: 60px;
    }

    .add-products__action {
        background-image: url(../img/gift-photo-desktop@1x.jpg);
        background-repeat: no-repeat;
        width: 245px;
        min-height: 285px;
        margin-left: 0;
    }

    .add-products__present {
        padding-top: 43px;
        text-align: center;
    }

    .add-products__title::after,
    .add-products__title::before {
        width: 1300px;
        right: -844px;
        top: 47%;
    }
}
