.additionally {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    list-style-type: none;
}

.additionally__item {
    border-bottom: 1px solid #f2f2f2;
}

.additionally__title {
    font-size: 16px;
    font-weight: normal;
    color: #222222;
    text-transform: uppercase;
}

.additionally__info {
    font-family: Arial;
    line-height: 1;
}
