.catalog {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.catalog__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .catalog {
        margin-bottom: 40px;
        margin-left: -30px;
        margin-right: -30px;
    }

    .catalog__column {
        flex: 0 0 40%;
        margin-right: 30px;
        margin-top: 110px;
        padding-left: 29px;
        padding-right: 0;
    }

}

@media (min-width: 1300px) {
    .catalog {
        margin-bottom: 20px;
        margin-top: 40px;
        margin-left: -40px;
        margin-right: -40px;
    }

    .catalog__column {
        width: 245px;
        margin-bottom: 30px;
        margin-top: 100px;
        padding: 0 40px;
        margin-right: 0;
        flex: none;
    }
}
