.comparisons__logo-image {
    padding-left: 0;
    padding-right: 9px;
}

.comparisons__button {
    color: #444444;
    border: none;
    margin-top: 35px;
    margin-left: 64px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .comparisons {
        min-width: 768px;
        height: 674px;
    }

    .comparisons__logo-image {
        display: flex;
    }

    .comparisons__button {
        color: #111111;
        font-size: 20px;
        background-color: #ffffff;
        border-bottom: 1px dashed #f2f2f2;
    }
}
