.demo { 
    height: 705px;
    background-color: #f2f2f2;
}

.demo__title {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.67;
    color: #111111;
    margin: 0;
    padding-left: 20px;
    padding-top: 18px;
}

.demo__text {
    width: 266px;
    font-family: Arial;
    color: #444444;
    padding-left: 20px;
    margin: 0;
    padding-top: 30px;
}

.result {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 27px;
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 35px;
}

.result__item {
    width: 124px;
    padding-top: 17px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.result__wrapper{
    margin-bottom: -10px;
    background: #f2f2f2;
}

.result__total {
    font-size: 24px;
    font-weight: normal;
    color: #111111;
    text-transform: uppercase;
}

.result__text {
    width: 87px;
    font-family: Arial;
    font-size: 12px;
    line-height: 1;
    color: #444444;
    margin: 0;
    margin-left: 20px;
    padding-top: 12px;
}

.example__total {
    line-height: 1.43;
    text-align: center;
    color: #111111;
    text-transform: uppercase;
}

.comparisons__logo-image {
    padding-left: 0;
    padding-right: 9px;
}

.comparisons__btn {
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    margin-top: 35px;
    margin-left: 64px;
}