.instruction {
    width: 320px;
}

.instruction__title {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.67;
    color: #111111;
    margin: 0;
    padding-top: 20px;
    padding-left: 22px;
}

.instruction__list {
    padding-top: 35px;
    padding-bottom: 40px;
    padding-left: 20px;
    margin: 0;
}

.instruction__item {
    display: flex;
    padding-bottom: 20px;
}

.instruction__text {
    font-family: Arial;
    margin: 0;
    color: #444444;
    padding-left: 20px;
}

@media (min-width: 768px) {
    .instruction {
        min-width: 768px;
        min-height: 780px;
        border-bottom: 1px solid #f2f2f2;
    }

    .instruction__title {
        font-size: 60px;
        line-height: 1;
        padding-top: 51px;
        padding-left: 33px;
        padding-bottom: 61px;
    }

    .instruction__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .instruction__item {
        max-width: 50%;
        min-height: 230px;
        display: block;
        padding-left: 15px;
    }

    .instruction__text {
        width: 224px;
        font-size: 16px;
        margin: 0;
        padding-left: 0;
        font-family: Arial;
        padding-top: 37px;
        padding-right: 85px;
    }
}

@media (min-width: 1300px) {
    .instruction {
        min-width: 1300px;
        min-height: 530px;
        border-bottom: none;
    }

    .instruction__title {
        padding-top: 79px;
        padding-left: 113px;
        padding-bottom: 63px;
    }

    .instruction__list {
        display: flex;
        margin: 0;
        padding-left: 113px;
    }

    .instruction__item {
        max-width: 23%;
        min-height: 230px;
        display: block;
        padding-left: 15px;
    }

    .instruction__text {
        width: 224px;
        font-size: 16px;
        margin: 0;
        padding-left: 0;
        font-family: Arial;
        padding-top: 37px;
        padding-right: 85px;
    }
}
