.invitation {
    width: 320px;
    height: 114px;
    display: flex;
}

.invitation-catalog {
    background-color: #f2f2f2;
}

.invitation__title {
    width: 125px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    text-align: left;
    color: #111111;
    text-transform: uppercase;
    padding: 31px 19px 26px 19px;
    margin: 0;
}

.invitation__text {
    width: 138px;
    font-family: Arial;
    line-height: 1.43;
    color: #444444;
    padding-top: 31px;
    margin: 0
}