.main-block {
    min-height: 305px;
}

.main-block__wrapper {
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-block__title {
    min-height: 74px;
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding-top: 29px;
}

.main-block__text {
    min-height: 16px;
    line-height: 1;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding-top: 19px;
    padding-bottom: 29px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .main-block__wrapper {
        min-width: 708px;
        min-height: 844px;
    }

    .main-block {
        padding-left: 120px;
        min-height: 828px;
        position: relative;
    }

    .main-block__title {
        width: 415px;
        min-height: 122px;
        font-size: 60px;
        line-height: 1;
        text-align: left;
        color: #111111;
        padding-top: 29px;
        margin-bottom: 45px;
    }

    .main-block__text {
        font-size: 20px;
        text-align: left;
        color: #111111;
        padding-top: 0;
        padding-bottom: 45px;
    }

    .main-block__logo-image {
        width: auto;
        height: auto;
        position: absolute;
        padding: 0;
        margin: 0 auto;
        z-index: -1;
        bottom: 0;
        right: 0;
    }

    .main-block__button {
        font-size: 20px;
        width: 45%;
        padding: 16px 27px;
    }
}

@media (min-width: 1300px) {
    .main-block {
        min-height: 530px;
        margin-bottom: 80px;
        padding-left: 0;
    }

    .main-block__wrapper {
        padding-left: 80px;
        width: 1200px;
        min-height: 475px;
        padding-top: 55px;
        position: relative;
    }

    .main-block__title {
        padding-top: 0;
    }

    .main-block__logo-image {
        margin: 0;
        min-height: 499px;
        position: absolute;
        display: block;
        left: 34.5%;
        top: -30px
    }
}
