.main-block {
    width: 320px;
    height: 305px;
}

.main-block__title {
    height: 74px;
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding-top: 29px;
}

.main-block__text {
    height: 16px;
    line-height: 1;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding-top: 19px;
    padding-bottom: 29px;
    text-transform: uppercase;
}

.main-block__logo-image {
    padding-left: 20px;
}

.main-block__button {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #69b738;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 14px;
    padding-bottom: 11px;
    margin-left: 20px;
    margin-top: 3px;
}

@media (min-width: 768px) {
    .main-block {
        min-width: 768px;
        min-height: 828px;
    }

    .main-block__title {
        width: 415px;
        height: 122px;
        font-size: 60px;
        line-height: 1;
        text-align: left;
        color: #111111;
        padding-top: 29px;
        padding-left: 120px;
    }

    .main-block__text {
        font-size: 20px;
        text-align: left;
        color: #111111;
        padding-top: 33px;
        padding-bottom: 20px;
        padding-left: 118px;
    }

    .main-block__logo-image {
        width: 709px;
        height: 609px;
        padding-left: 29px;
    }

    .main-block__button {
        width: 18.9%;
        height: 52px;
        padding: 0;
    }
}

@media (min-width: 1300px) {
    .main-block {
        min-height: 668px;
    }

    .main-block__title {
        padding-top: 113px;
        padding-left: 193px;
    }

    .main-block__text {
        padding-top: 33px;
        padding-bottom: 53px;
        padding-left: 190px;
    }

    .main-block__logo-image {
        width: 552px;
        height: 499px;
        margin: 0 auto 5px;
        display: block;
        position: absolute;
        left: 35%;
        top: 120px;
    }

    .main-block__button {
        width: 18.9%;
        height: 52px;
        line-height: 3;
        margin-left: 190px;
    }
}
