.product-more {
    width: 320px;
    height: 210px;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    padding-bottom: 15px;
}

.product-more__title {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    color: #111111;
    text-transform: uppercase;
    margin: 0;
    padding-top: 78px;
}

.product-more__text {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #444444;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 20px;
}

.product-more .button--light {
    background-color: #f2f2f2;
    color: #444444;
    padding: 8px 97px 10px 94px;
    margin-left: 20px;
}

@media (min-width: 768px) {
    .product-more {
        width: 324px;
        height: 431px;
        border: 1px solid #cdcdcd;
        padding-bottom: 0;
        margin-top: 70px;
        margin-left: 30px;
    }

    .product-more__title {
        width: 134px;
        font-size: 20px;
        line-height: 1;
        padding-top: 166px;
        padding-left: 96px;
    }

    .product-more__text {
        font-size: 16px;
        width: 167px;
        padding-top: 28px;
        padding-bottom: 85px;
        padding-left: 80px;
    }

    .product-more .button--light {
        background-color: #f2f2f2;
        color: #444444;
        padding: 8px 87px 10px 81px;
        margin-left: 38px;
    }
}

@media (min-width: 1300px) {
    .product-more {
        width: 245px;
        height: 431px;
        border: 1px solid #cdcdcd;
        padding-bottom: 0;
        margin-top: 55px;
        margin-left: 40px;
    }

    .product-more__title {
        width: 134px;
        padding-top: 166px;
        padding-left: 56px;
    }

    .product-more__text {
        font-size: 16px;
        width: 165px;
        padding-top: 28px;
        padding-bottom: 85px;
        padding-left: 40px;
    }

    .product-more .button--light {
        background-color: #f2f2f2;
        color: #444444;
        padding: 13px 39px 12px 41px;
        margin-left: 38px;
    }
}
