.program__title {
    height: 21px;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.54;
    color: #111111;
    margin: 0;
    margin-top: 0;
    margin-bottom: 35px;
    padding-left: 70px;
    text-transform: uppercase;
}

.program__text {
    height: 86px;
    font-family: "Arial", "Tahoma", sans-serif;
    color: #444444;
    padding-bottom: 20px;
    margin-bottom: 19px;
    border-bottom: 1px solid #d9d9d9;
}

.program__catalog {
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    color: #111111;
    margin: 0;
    padding-right: 20px;
    text-transform: uppercase;
}

.program__illustration {
    position: absolute;
    top: 25px;
    width: 50px;
    height: 50px;
    background: #68b738;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .program__title {
        height: 36px;
        font-size: 36px;
        line-height: 1.03;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
    }

    .program__text {
        width: 371px;
        height: 88px;
        font-family: "Arial", "Tahoma", sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
        padding-bottom: 27px;
        margin-bottom: 27px;
        border: none;
    }

    .program__catalog {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    .program__illustration {
        right: 60px;
        top: 90px;
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 1300px) {
    .program__title {
        padding-left: 162px;
        margin-bottom: 70px;
    }

    .program__text {
        width: 460px;
        padding-bottom: 15px;
        margin: 0;
        border: none;
        margin-bottom: 15px;
    }

    .program__catalog {
        width: 127px;
        padding-right: 20px;
    }

    .program__illustration {
        top: 45px;
        right: inherit;
        height: 100px;
        width: 100px;
    }
}
