.social {
    border-bottom: 1px solid #e2e2e2;
    list-style: none;
    margin: 0;
    width: 280px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.social__item {
    margin: 0 16px;
}

@media (min-width: 768px) {
    .social {
        margin: 0;
        padding: 30px 120px;
        border-bottom: none;
    }
}
