.title {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.67;
    text-align: center;
    color: #111111;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 25px;
    border-bottom: solid 1px #f2f2f2;
}